---
# Homepage pages style
---

a.more {
  &::after {
    content: "\2192";
    display: inline-block;
    margin-left: 7px;
  }
  &:hover::after {
    animation:arrow-bounce 1s cubic-bezier(.4,.04,.4,1)
  }
  @keyframes arrow-bounce {
    60%{transform:translateX(8px)}
    70%{transform:translateX(-3px)}
    80%{transform:translateX(2px)}
    90%{transform:translateX(-1px)}
  }
}
